.buttonContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

button {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-color: #22223b;
  border-width: 3px;
  margin: 10px;
  font-size: 24px;
  font-family: 'Go crazy';
  cursor: not-allowed;
  box-shadow: 5px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px -5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px -5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 5px -5px rgba(0, 0, 0, 0.4);
}

.push {
  background-color: var(--color-1);
}
.touch {
  background-color: var(--color-2);
  display: none;
}
.nix {
  background-color: var(--color-3);
}

@media screen and (min-width: 400px) {
  .touch {
    display: block;
  }
}
