:root {
  --color-1: #9a8c98;
  --color-2: #c9ada7;
  --color-3: #f2e9e4;
}

* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #4a4e69;
}

@font-face {
  font-family: "Disgusting Behavior";
  src: url("/fonts/disgusting_behavior/DisgustingBehavior-AZrA.woff");
  font-family: "Road rage";
  src: url("/fonts/Road_Rage/roadRage-Regular.woff");
  font-family: "Average";
  src: url("/fonts/Average/Average-Regular.woff");
  font-family: "go crazy";
  src: url("/fonts/go-crazy-font/GoCrazy-Yqw2.woff");
}
