:root {
  --color-1: rgb(253, 224, 92);
  --color-2: rgb(170, 127, 127);
  --color-3: rgb(122, 192, 122);
}

* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(199, 171, 171);
}

@font-face {
  font-family: "Disgusting Behavior";
  src: url("/fonts/disgusting_behavior/DisgustingBehavior-AZrA.woff");
  font-family: "Road rage";
  src: url("/fonts/Road_Rage/roadRage-Regular.woff");
}
